@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-primary: black;
  text-autospace: normal;
}

html,
body {
  font-family: 'Inter', ui-sans-serif, system-ui;
}

.dark {
  --ui-primary: white;
}
